.jumbotron {
    background-image: url("../img/pizza.png");
    background-repeat: repeat-x;
}

.jumbotron h1{
    text-align: center;
    background-color: white;opacity: .6;
    color: black;
}

.crusty{
    text-align: left;
}
.card-footer{
    float: right;
}



.embed-responsive .card-img-top{
    object-fit: cover;
}

#container{
    text-decoration: black;

}
.card-header{
    padding: 1em;
    margin: 1em;

}
.card{
    padding: 1em;
    margin: 1em;
    text-align: left;

}
