## Default ignored files
#/shelf/
#/workspace.xml
## Datasource local storage ignored files
#/dataSources/
#/dataSources.local.xml
## Editor-based HTTP Client requests
#/httpRequests/

.idea/*
*.iml
.DS_STORE
js/keys.js
Extra Practice/dom-practice-chan.html
Extra Practice/dom-practice-no-jquery.html